* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Marriweather-Regular";
    src: url(../fonts/Merriweather-Regular.ttf);
}

@font-face {
    font-family: "Lato";
    src: url(../fonts/Lato-Regular.ttf);
}


:root {

    /* html main fonts */
    --main-font: "Marriweather-Regular";
    --second-font: "Lato";

    /* html main colors */
    --text-1-color: black;
    --text-2-color: #202020;
    --text-3-color: #7E7E7E;

}

a {
    text-decoration: none;
    color: var(--text-2-color);
    font-family: var(--second-font);
    font-size: 0.8rem;
}

/* global h2 -header */
h2 {
    font-family: var(--main-font);
    color: var(--text-1-color);
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.5rem;
    text-align: center;
    padding: 1rem;
}

/* global p */
p {
    font-family: var(--main-font);
    color: var(--text-2-color);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
    text-align: center;
    padding: 1rem;

}

/* global image hover aber nur fur main conteiner */

main img:hover {
    box-shadow: 3px 3px 15px gray;
}


/* header menu */
.nav ul {
    list-style: none;
    display: flex;
    height: 3rem;
    width: 100vw;
    padding: 1rem;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
}




/*  1. section, genant: hero */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.hero h2,
p {
    text-align: left;
}

.hero img {
    height: 25rem;
    width: 23rem;
}

.hero article {
    width: 80vw;
    /* border: 3px solid green; */

}

.infos {
    display: flex;
    justify-content: space-between;

}

.text {
    width: 35vw;
}

.buttons {
    display: flex;
    gap: 0.5rem;
    margin-left: 1rem;
}

.buttons a {
    border: 2px solid var(--text-2-color);
    padding: 0.5rem;
    border-radius: 5px;
    font-family: var(--second-font);
}

.buttons a:first-child {
    background-color: var(--text-2-color);
    color: aliceblue;
}











/* 2 teil gennant main */

main {
    /* border: 3px solid orange; */
    justify-content: center;
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 3rem;
    padding: 3rem;
}

main p {
    width: 80vw;
    /* border: 3px solid yellow; */
    margin: auto;
}



/* section illustration */
.photos {
    display: flex;
    flex-direction: row;
    /* border: 3px solid red; */
    justify-content: center;
    justify-content: space-between;
    flex-direction: row;
    flex: auto;

}

.photos img {
    width: 30%;
    height: 40%;
}



/* section exemples */


.photos_exemples {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.photos_exemples img {
    width: 30rem;
    height: 15rem;
}


/* .photos_exemples .photo_size .eimg{

    background-image: url(../img/illustration7.jpg);
    background-size: cover;
} */

/* }
.exemples .photos img{
    width: 50%;
} */


.buy p {
    width: 50%;
    /* border: 3px solid yellow; */
    margin: auto;
}



/*  
membership colors
background: linear-gradient(0deg, #000000, #000000),
linear-gradient(0deg, #3B5998, #3B5998),
linear-gradient(0deg, #55ACEE, #55ACEE),
linear-gradient(0deg, #C4302B, #C4302B),
linear-gradient(0deg, #FCAF45, #FCAF45);
*/